{% extends 'base.html.twig' %}

{% block body %}
<body class="home blog single-author">
    {% include 'default/head/site-navigation.html.twig' %}

<div id="container">

    {% include 'default/head/branding.twig' %}

    <div id="content" class="clearfix">
        <div id="main" class="column clearfix" role="main">

            <header class="page-header">
                <h1 class="page-title">

                    Category Archives: <span class="vcard"
                    <a class="url fn n" href="{{ path('category_archives', { category_name: name}) }}"
                       title="{{ name }}" rel="me">{{ name }}</a>

                    </span>


                </h1>
            </header><!-- .page-header -->

            {% for posts in posts|slice(0, 10) if posts.type == 'post' %}

                <article id="post-{{ posts.id }}" class="post-{{ posts.id }} {{ posts.type }} type-{{ posts.type }}
            status-{{ posts.status }} format-standard hentry category-askrickfloyd
            category-books category-special-messages category-videos">

                    {% include 'default/article/posted-meta.html.twig' %}

                    {% include 'default/article/entry-header.html.twig' %}

                    {% include 'default/article/entry-content.html.twig' %}

                    {% include 'default/article/entry-meta.html.twig' %}

                </article><!-- #post-## -->

            {% endfor %}


        </div>

        <div id="sidebar" class="widget-area sidebar-column" role="complementary">

            {% include 'default/sidebar/subscribe.html.twig' %}

            {% include 'default/sidebar/social.html.twig' %}

            {% include 'default/sidebar/categories.html.twig' %}

            {% include 'default/sidebar/recent-posts.html.twig' %}

            {% include 'default/sidebar/archives.html.twig' %}


        </div>
    </div>


</div>


{% endblock %}

